

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@media  (min-width: 1400px){
  .container{
    max-width: 1500px;
  }
}

body{
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #000;
}


.navbar{
  z-index: 9999999;
}

.navbar .dropdown{
     border:2px solid #000;
     border-radius: 5px;
     margin-right: 30px;
}



.navbar .signbtn{
  width: 100px;
  border-radius: 5px;
  background-color: red;
  color:#fff !important;
  text-align: center;
}

.navbar .signbtn a{
  color: #fff !important;
}

.banner-sec{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:url('../src/Images/banner.jpg');
  background-size: cover;
  background-position: center;
}

.background-laryer{
  position: relative;
}

.background-laryer::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.582);
  top:0;
  left: 0;
  z-index: 1;
}

.logo-content .input-group{
  width: 60% !important;
  margin: auto;
  height: 60px;
  z-index: 999;
  position: relative;
  border-radius: 0px !important;
}

.logo-content .input-group input{
  border-radius: 0px !important;
}

.logo-content .input-group input:focus{
  box-shadow: none;
}

.logo-content .input-group .input-group-text{
  background-color: red;
  border-color: red;
  color:#fff;
  font-size: 24px;
  padding: 0px 30px;
  border-radius: 0px !important;
  cursor: pointer;
}

.logo-content h1{
    font-size: 4rem;
    font-weight: 600;
    z-index: 999;
    position: relative;
}

.logo-content h5{
  font-size: 1.5rem;
  z-index: 999;
  position: relative;
}

.logo-content h6{
  font-size: 1rem;
  z-index: 999;
  position: relative;
}

.banner-sec form{
  padding:80px;
  background-color: rgba(0, 0, 0, 0.719);
  z-index: 9999;
  position: relative;
}


.banner-sec form button{
  height: 50px;
  background-color: red;
  border-color: red;
  color:#fff;
}

.banner-sec form input.inputheight{
  height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #333333;
  border-color: #333333;
}

.banner-sec form button:focus{
  background-color: red;
  box-shadow: none;
  border:none;
}

.banner-sec form .remember-help .form-check-label{
  color:#8c8c8c;
}
.banner-sec .remember-help a{
  color:#8c8c8c;
}

.banner-sec form .inputheight{
  color: #fff;
}

.deshboard-navbar{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding: 20px;
  transition: .4s ease-in-out;
}
.netflix-originals-poster{
  position: relative;
}
.netflix-originals-poster span{
  color: red;
  font-size: 40px;
  position: absolute;
  top:50%;
  left: -30px;
  z-index: 99999;
  cursor: pointer;
}
.netflix-originals-poster span.right-arrow{
  position: relative;
}

.netflix-originals-poster span.right-arrow{
  color: red;
  font-size: 40px;
  position: absolute;
  top:50%;
  left: 100%;
  z-index: 99999;
  cursor: pointer;
}

.navbar_color{
  background-color: #000 !important;
  transition: .4s ease-in-out !important;
  height: 80px;
  z-index: 99999;
}

.banner-bg{
  height: 100vh;
  display: flex;
  align-items: center;
}

.movie-name h1{
  color:#fff;
  font-size: 60px;
  z-index: 9999;
  position: relative;
}

.play-btn button{
   padding: 10px 30px;
   background-color: #fff;
   border-radius: 10px;
   color:#000;
   border:2px solid #fff;
   transition: .4s ease-in-out;
   z-index: 9999;
   position: relative;
}

.play-btn button:hover{
  background-color: transparent !important;
  transition: .4s ease-in-out;
  color:#fff;
}

.play-btn button:nth-child(2){
  margin-left: 20px;
}

.movie-discription{
  color:#fff;
  z-index: 9999;
  position: relative;
}




.banner-bg{
  position: relative;
}
.banner-bg::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 80px;
  background:linear-gradient(180deg , transparent , rgba(27,27,27,0.61), #111);
  bottom: 0;
  left: 0;
}

.banner-bg::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.411);
  top:0;
  left: 0;
  z-index: 1;
}


.netflix-originals-poster .item-wrap{
  display: flex;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

.netflix-originals-poster .item-wrap::-webkit-scrollbar{
  overflow-x: hidden;
}

.netflix-originals-poster .item .poster-img{
   width: 250px;
   height: 400px;
   overflow: hidden;
   margin: 5px;
}

.netflix-originals-poster .item .poster-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transform: scale(1);
  transition: .4s ease-in-out;

}

.netflix-originals-poster .item .poster-img:hover img{
  transform: scale(1.1);
  transition: .4s ease-in-out;
}

.movie-poster-sec{
  padding: 60px 0px 20px;
}


